{{ define "main" }}
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-7 text-center">
          <h2 class="h3 mb-6">{{ .Title }}</h2>
        </div>
      </div>
      <div class="row items-center justify-between">
        <div class="sm:col-8 md:col-4 lg:col-4 text-left">
          <!-- <div>{{ range .Params.left.blocks }}
            <div>{{ .title }}</div> 
            <div>{{ .content }}</div> 
          {{ end }}</div> -->
          <div class="text-left">
            Address:
          </div>
          <div class="text-left mb-4 pl-10">
            catdev llc<br>
            7901 4TH ST N STE 300<br>
            ST PETERSBURG FL 33702<br>
            UNITED STATES OF AMERICA
          </div>

          <div class="text-left">
            Contact:
          </div>
          <div class="text-left mb-4 pl-10">
            Phone: +1 321 3607017<br>
            Email: info@catdev.io<br>
            Web: https://catdev.io<br>
        </div>
        <div class="md:col-4 lg:col-4 text-left">
          <div class="text-left">
            Represented by:
          </div>
          <div class="text-left mb-4 pl-10">
            Jan Mueller
          </div>
          <div class="text-left">
            Responsible for the content:
          </div>
          <div class="text-left mb-4 pl-10">
            Jan Mueller<br>
            catdev llc<br>
            7901 4TH ST N STE 300<br>
            ST PETERSBURG FL 33702<br>
            UNITED STATES OF AMERICA
          </div>
          <!-- <div>{{ range .Params.right.blocks }}
            <div>{{ .title }}</div> 
            <div>{{ .content }}</div> 
          {{ end }}</div> -->
        </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
